<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{product.name}}</h3>
  <h4>{{product.price | currency }}</h4>
  <p>{{ product.description }}</p>

  <button (click)="addToCart(product)">Buy</button>
</div>

<!--
Angular 화면 전환 기능 : 라우터 기능 활용

단일 페이지 App은 화면 전환 시 새로운 페이지 로드를 하지 않음
대신 접근 위치에 알맞은 컴포넌트를 화면 위에 표시전환
>> 라우터를 활용하면 url에 해당하는 화면으로 이동(물론 주소창, 링크, 히스토리 가능)

>>Angular Router : 브라우저 URL에 해당하는 라우팅 규칙을 찾아 적절한 컴포넌트를 화면에 표시

App 생성시 Angular Router도 기본적으로 생성
컴포넌트 수정으로 화면 전환 기능 바로 사용 가능
app.module.ts에서
@NgModule 파트에 아래와 같이 path 추가 (컴포넌트 하나에 여러 url 연결도 가능)
{ path: 'products/:productId', component: ProductDetailsComponent},

라우팅 규칙에 등록한 위 주소로 이동하려면 컴포넌트 템플릿(HTML)에 이 기능의 디렉티브 추가
여기선 우선 리스트에서 이동하므로 list 컴포넌트에서 수정
-->

<!--
<h4>{{product.price | currency }}</h4> 여기서 price를 숫자형태에서 통화형태로 형태변환 by '|'(파이프)
파이프 : 템플릿 안에서 데이터가 표시되는 형식을 변환하는 역할

list의 상품 이름 클릭 시 변화
Angular 라우터가 해당 상품 주소로 이동하여 리스트 컴포넌트를 제거하고 상세정보 컴포넌트를 띄움
-->
